
.cards {
    display: flex;
    justify-content: center;
}
.header {
    text-align: center;
    margin: 20px 0;
}

.card {
    width: 200px;
    height: 300px;
    background-color: #a00cff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: transform 0.3s, filter 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card h2 {
    color: white;
    font-size: 24px;
    text-align: center;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}